*{
    color: yellowgreen;text-shadow: 1px 1px 2px green;
    cursor: pointer; 
}
body{
    background: url(img/HJ03738.jpg.webp); background-repeat: no-repeat; background-size: auto; 
}
#RealName{
    background: rgb(76, 0, 109);
}
.Gender{
    background: rgb(145, 229, 255);  text-align: center; text-shadow: 0px 2px 2px red;
}
label{
    color: purple;transition: 1s;
}
p{
    color:#C559F0;font-weight: bold;text-shadow: 1px 1px 2px blue;
}
h1{
    text-decoration: underline overline;font-weight: bold; text-shadow: 0px 2px 2px blue;text-align: center;
    border-style:solid; border-color: green; border-width: 1px; border-radius: 1%;
    box-shadow: 0px 0px 20px yellow;
}
.paragraph{
    text-indent: 20%; text-overflow: ellipsis;
    width: 100px; white-space: nowrap; overflow: hidden; 
}
.textposition{
    background: pink;
    width: 200px; height: 65px; border: solid 5px rgb(255, 232, 232);
    overflow: visible;overflow: auto;
}
.content{
    background: rgb(255, 244, 246);
    border: solid 1px red; padding: 20px;text-align: center;
    margin: 20px;
}